<div class="modal fade" id="deleteConfirmModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body text-center">
        <p>Delete this product?</p>
        <button class="btn btn-danger btn-sm" id="confirmDelete">Delete</button>
      </div>
    </div>
  </div>
</div>
