<div class="modal fade" id="editProductModal">
  <div class="modal-dialog">
    <form id="editProductForm" class="modal-content" enctype="multipart/form-data">
      <input type="hidden" name="id">
      <div class="modal-header"><h5>Edit Product</h5></div>
      <div class="modal-body">
        <input class="form-control mb-2" name="name">
        <input class="form-control mb-2" name="price">
        <input class="form-control mb-2" type="file" name="image">
        <textarea class="form-control" name="description"></textarea>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary">Update</button>
      </div>
    </form>
  </div>
</div>
